body {

  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80") 50% fixed;
  background-size: cover;

  h1{
    color: white;
  }
 h4,label,h2,a{
    color: white;

  }

  #consultation_pictures{
    color:white;
  }


}
